
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>


<div class="row">
  <div class="col-md-4">
   <div class="d-grid gap-2">
<div class="card" style="width: 18rem; display: flex; float: left;">
  <div id="not-yet-started" class="card-header">
    Not yet started
  </div>
  <ul class="list-group list-group-flush">
    <li id="new_task_form" class="list-group-item"><%= render "tasks/form.html.erb", task: @tasks %></li>
    <% Task.where(status: "not yet started").each do |task| %>
    <li id="<%= dom_id(task) %>" class="list-group-item"><%= task.content %> 
    <br />
 <%= form_with model: Task.where(id: task.id).first, style: "display:inline-block; width:30%;", method: "PATCH", local: false do |task_form| %>


  <div class="field" style="display: inline">

    <%= task_form.hidden_field :status, value: "in progress", name: "task[status]" %>
  </div>

  <div class="field" style="display: inline">
    <%= task_form.hidden_field :content, value: task.content, class: "form-control", name: "task[content]" %>
  </div>

<div class="actions" style="display: inline">
    <%= button_tag type: "submit", class: "btn btn-link", id: "send-btn", style: "display:inline-block; width:30%;" do %>
    <i class="fa-solid fa-play"></i>
  <% end %>
  </div>
<% end %>

   <%= link_to edit_task_path(task.id), style: "display:inline-block; width:30%; text-align:center;", remote: true do %><i class="fa-solid fa-pen-to-square"></i><% end %> 
   <%= link_to task_path(task.id), method: "DELETE", style: "display:inline-block; width:30%; text-align:center;", remote: true do %><i class="fa-solid fa-trash"></i><% end %>
   </li>
   
  <% end %>
  </ul>
</div>
</div>
</div>


<div class="col-md-4">
 <div class="d-grid gap-2">
<div class="card" style="width: 18rem; display: flex; float: left;">
  <div class="card-header">
    In progress
  </div>
  <ul class="list-group list-group-flush">
  <div id="in-progress"></div>
     <% Task.where(status: "in progress").each do |task| %>
    <li id="<%= dom_id(task) %>" class="list-group-item"><%= task.content %> 
    <br />
<%= form_with model: Task.where(id: task.id).first, style: "display:inline-block; width:30%;", method: "PATCH", local: false do |task_form| %>


  <div class="field">

    <%= task_form.hidden_field :status, value: "completed", name: "task[status]" %>
  </div>

  <div class="field">
    <%= task_form.hidden_field :content, value: task.content, class: "form-control", name: "task[content]" %>
  </div>

<div class="actions">
    <%= button_tag type: "submit", class: "btn btn-link", id: "send-btn", style: "display:inline-block; width:30%;" do %>
    <i class="fa-regular fa-circle-check"></i>
  <% end %>
  </div>
<% end %>
    <%= link_to edit_task_path(task.id), style: "display:inline-block; width:30%; text-align:center;", remote: true do %><i class="fa-solid fa-pen-to-square"></i><% end %>
  
   <%= link_to task_path(task.id), method: "DELETE", style: "display:inline-block; width:30%; text-align:center;", remote: true  do %><i class="fa-solid fa-trash"></i><% end %>
   </li>
   
  <% end %>
  </ul>
</div>

</div>
</div>

<div class="col-md-4">
 <div class="d-grid gap-2">
<div class="card" style="width: 18rem; display: flex; float: left;">
  <div class="card-header">
    Completed
  </div>
  <ul class="list-group list-group-flush">
  <div id="completed"></div>
     <% Task.where(status: "completed").each do |task| %>
    <li id="<%= dom_id(task) %>" class="list-group-item"><%= task.content %> 
    <br />
<%= form_with model: Task.where(id: task.id).first, style: "display:inline-block; width:30%;", method: "PATCH", local: false do |task_form| %>


  <div class="field">

    <%= task_form.hidden_field :status, value: "in progress", name: "task[status]" %>
  </div>

  <div class="field">
    <%= task_form.hidden_field :content, value: task.content, class: "form-control", name: "task[content]" %>
  </div>

<div class="actions">
    <%= button_tag type: "submit", class: "btn btn-link", id: "send-btn", style: "display:inline-block; width:30%;" do %>
    <i class="fa-solid fa-backward"></i>
  <% end %>
  </div>
<% end %>
   <%= link_to edit_task_path(task.id), style: "display:inline-block; width:30%; text-align:center;", remote: true do %><i class="fa-solid fa-pen-to-square"></i><% end %> 


   <%= link_to task_path(task.id), method: "DELETE", style: "display:inline-block; width:30%; text-align:center;", remote: true  do %><i class="fa-solid fa-trash"></i><% end %>
   </li>
   
  <% end %>
  </ul>
</div>
</div>
</div>
</div>
